/* login.css */

/* Untuk membuat layout menjadi responsif */
.container {
    display: grid;
    place-items: center;
    height: 80vh;
}

/* Untuk membuat input menjadi responsif */
input[type="text"],
input[type="password"],
input[type="button"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

/* Untuk membuat tombol login responsif */
#loginButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

/* Untuk membuat form login menjadi responsif */
.login-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 20px;
    background-color: #daa1a1;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Untuk membuat input login menjadi responsif */
.login-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Untuk membuat tombol login menjadi responsif */
 

/* Hover efek pada tombol login */
 

/* Untuk membuat header menjadi responsif */
.menu-toggle {
    display: block;
    cursor: pointer;
    padding: 10px;
}

/* Ikona hamburger */
.menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #b42f2f;
    margin-bottom: 5px;
}

/* Daftar menu */
.inmenu {
    display: active;
}

/* Daftar menu styling */
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Styling untuk setiap item dalam daftar menu */
.menu-item {
    display: block;
    padding: 10px;
}

/* Responsifkan input teks di dalam daftar menu */
.menu-item input[type="text"] {
    width: 100%;
}

/* Menyembunyikan daftar menu saat layar kecil */
.menu:not(.inmenu) {
    display: none;
}

/* Menampilkan ikon hamburger pada layar besar */
.menu-toggle {
    display: block;
}

/* Menampilkan daftar menu pada layar besar */
@media screen and (min-width: 768px) {
    .menu-toggle {
        display: none;
    }

    .inmenu {
        display: block;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-item {
        display: block;
        padding: 10px;
    }
}

/* Menampilkan daftar menu pada layar kecil */
.inmenu.active {
    display: block;
}

/* Menyembunyikan daftar menu pada layar besar */
@media screen and (max-width: 768px) {
    .menu-item {
        display: block;
        padding: 10px;
    }

    .menu-item input[type="text"] {
        width: 100%;
    }
}
